<%= content_for :head  do %>
  <%= stylesheet_link_tag    "landing", :media => "all" %>
  <%= javascript_include_tag "landing" %>
  <script type='text/javascript'>
    PHOTOPORT_CMS.uploadPanelConfig = <%= aws_s3_upload_panel.config.to_json.html_safe %>;
    PHOTOPORT_CMS.collection        = <%= collection.to_json.html_safe %>;
  </script>
<% end %>
<div id='main'>
</div>
