<!DOCTYPE html>
<html>
<head>
  <title>Photoport</title>
  <%= csrf_meta_tags %>
  <%= javascript_tag do %>
    PHOTOPORT_CMS = {
      user: <%= request_identity.to_json.html_safe %>
    }
  <% end %>
  <%= yield :head %>
</head>
<body>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
